html, body, :global(#root) {
	height: 100%;
}

.container {
	max-width: 1000px;
	padding: 0 10px;
	margin: 0 auto;
}

.container:after {
	display: block;
	content: '.';
	height: 0;
	clear: both;
	visibility: hidden;
}

.container {
	*zoom: 1;
}