/* common */
html, body, :global(#root) {
	height: 100%;
}

html {
	font-size: 100%;
}

body {
	font-size: 1rem;
}

*::selection {
	background: #f75357;
	color: #eee;
}

a {
	color: #777;
}

a:hover {
	color: #f75357;
}

.container {
	max-width: 1200px;
	padding: 0 10px;
	margin: 0 auto;
}

.container-main {
	padding: 2rem;
}

.container:after {
	display: block;
	content: '.';
	height: 0;
	clear: both;
	visibility: hidden;
}

.container {
	*zoom: 1;
}

/* Layout */
.site-wrapper {
	height: 100vh;
}

.site-content__left {
	position: relative;
	float: left;
	max-width: 200px;
	margin-right: -200px;
}

.site-content__rightWrapper {
	float: right;
	width: 100%;
}

.site-content__right {
	margin-left: 200px;
}

.inner-content {
	margin-left: 3rem;
}

.markdown-container img {
	display: block;
	max-width: 100%;
	box-shadow: none;
	margin: 1rem auto 1rem;
}

/* media */
@media screen and (max-width: 980px) {
	.container-main {
		padding: 1rem;
	}
	
	.site-content__left {
		float: none;
		width: 200px;
		margin: 0 auto;
	}
	
	.site-content__right {
		margin: 0;
	}
	
	.inner-content {
		margin-left: 0;
		margin-bottom: 3rem;
	}
}