/* common */
html, body, :global(#root) {
	height: 100%;
}

html {
	font-size: 100%;
}

body {
	font-size: 1em;
}

.container {
	max-width: 1200px;
	padding: 0 10px;
	margin: 0 auto;
}

.container:after {
	display: block;
	content: '.';
	height: 0;
	clear: both;
	visibility: hidden;
}

.container {
	*zoom: 1;
}

/* Layout */
.site-wrapper {
	height: 100vh;
}

.site-content__left {
	position: relative;
	float: left;
	width: 200px;
	margin-right: -200px;
}

.site-content__rightWrapper {
	float: right;
	width: 100%;
}

.site-content__right {
	margin-left: 200px;
}

.inner-content {
	margin-left: 3em;
}

